<app-header></app-header>
<app-welcome></app-welcome>
<div class="your-games-container" [hidden]="hideContent()">
    <div class="filter-buttons">
        <button class="filter-button" (click)="applyFilterStatus($event)" value="">Status: All</button>
        <button class="filter-button" (click)="applyFilterPlatform($event)" value="">Platform: All</button>
    </div>
    <app-your-game-card
    *ngFor="let userGame of dataSource.connect().value"
    [userGame]="userGame"
    ></app-your-game-card>
    <mat-paginator class="paginator" [length]="dataSource.data.length" [pageSize]="3"></mat-paginator>
</div>
<div class="your-games-container" *ngIf="dataSource.connect().value.length === 0 || !isLogged">
    <div class="no-games" *ngIf="dataSource.connect().value.length === 0 && isLogged">
        <h1>You have no games in your list</h1>
        <h2>Go to the home page and add some!</h2>
    </div>
    <div class="no-games" *ngIf="!isLogged">
        <h1 >You are not logged in</h1>
        <h2>Go to the login page and log in!</h2>
    </div>
</div>
