<div class="main-container">
    <div class="poster-container">
        <a href="#">
            <img src="{{ game.cover }}" class="poster" />
        </a>
    </div>
    <div class="ticket-container">
        <div class="ticket__content">
            <h4 class="ticket__movie-title">{{ game.gameName }}</h4>
            <div>
                <button *ngIf="!isAdded" class="cart-button" (click)="addGame()">
                    <span class="add-to-cart">Add to cart</span>
                    <span class="added">Added</span>
                    <i class="fa-solid fa-gamepad"></i>
                </button>
                <button *ngIf="isAdded" class="cart-button clicked">
                    <span class="add-to-cart">Add to cart</span>
                    <span class="added">Added</span>
                    <i class="fa-solid fa-gamepad"></i>
                </button>
            </div>
        </div>
    </div>
</div>
